include LICENSE
include upy/contrib/cked/AUTHORS
include upy/contrib/cked/LICENSE
include upy/contrib/cked/README.rst
include upy/contrib/colors/LICENSE
include upy/contrib/rosetta/LICENSE
recursive-include upy/locale *
recursive-include upy/contrib/tree/tpl *
recursive-include upy/templates *
recursive-include upy/contrib/staticpage/templates *
recursive-include upy/contrib/newsletter/templates *
recursive-include upy/upy_static *
recursive-include upy/contrib/customadmin/templates *
recursive-include upy/contrib/colors/templates *
recursive-include upy/bin *
recursive-include upy/contrib/cked/static *
recursive-include upy/contrib/tabbed_translation/static *
recursive-include upy/contrib/cked/templates *
recursive-include upy/contrib/staticelement/templates *
recursive-include upy/contrib/tree/templates *
recursive-include upy/contrib/rosetta/locale *
recursive-include upy/contrib/rosetta/templates *
recursive-include upy/contrib/inspect/templates *
recursive-include upy/contrib/inspect/static *