{% load i18n admin_static %}
{% load customadmin %}
<div id="content-main-icon">
    {% for app in app_list|add_app_icons:CUSTOM_ADMIN.autocomplete_app_list %}
        <div class="app_icon_box">
        	<a href="{{ app.app_url }}" class="section"><img src="{% if app.image %}{{ app.image.url }}{% else %}/upy_static/images/default_app_icon.png{% endif %}" alt="{% blocktrans with app.verbose_app_name as name %}{{ name }}{% endblocktrans %}" /></a>
        	<p><a href="{{ app.app_url }}" class="section">{% blocktrans with app.verbose_app_name as name %}{{ name }}{% endblocktrans %}</a></p>
        </div> <!-- /module -->
    {% endfor %}

	{% if app_list|length > 1 %}
    {% for link in CUSTOM_LINK_LIST %}
     <div class="app_icon_box">
 		<a href="{{ link.link_url }}" class="section"><img src="{% if link.image %}{{ link.image.url }}{% else %}/upy_static/images/default_app_icon.png{% endif %}" alt="{% blocktrans with link.verbose_url_name as name %}{{ name }}{% endblocktrans %}" /></a>
        <p><a href="{{ link.link_url }}" class="section">{% blocktrans with link.verbose_url_name as name %}{{ name }}{% endblocktrans %}</a></p>
      </div> <!-- /module -->
    {% endfor %}
    {% endif %}

</div> <!-- /content-main-icon -->	

