{% load i18n %}
<div id="utility_lang">
    {% for code,desc in LANGUAGES %}        
        {% if not forloop.first %}
            {%if separator %}
                <span class = "lang_separator">
                    {{separator}}
                </span>
            {%endif%}
        {% endif %}
        <form class="upy_lan_form_string" id = "form_change_language_{{code}}" action="/i18n/setlang/" method="post">{% csrf_token %}
	        <input name="language" type="hidden" value="{{code}}" />
	        <input type="submit" {% if code == LANGUAGE_CODE %}disabled="disabled"{% endif %} value="{{desc}}" />
    	</form>
    {% endfor %}
</div>

