{% extends "admin/change_list.html" %}
{% load admin_list i18n %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ UPY_ADMIN_MEDIA }}css/style.css" />
<link rel="stylesheet" type="text/css" href="{{ UPY_ADMIN_MEDIA }}css/fein_tree.css" />

<script type="text/javascript" src="{{ JQUERYUI_LIB }}"></script>

<script type="text/javascript">
    var feincms = {
        "jQuery": jQuery, 
        "tree_structure": {{ tree_structure|default:"null" }},
    };
</script>
<script type="text/javascript" src="{{ UPY_ADMIN_MEDIA }}js/ie_compat.js"></script>
<script type="text/javascript" src="{{ UPY_ADMIN_MEDIA }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ UPY_ADMIN_MEDIA }}js/toolbox.js"></script>
<script type="text/javascript" src="{{ UPY_ADMIN_MEDIA }}js/fein_tree.js"></script>

{% endblock %}


{% block filters %}
	{% if cl.has_filters %}
		<div id="changelist-filter">
			<h2>{% trans 'Shortcuts' %}</h2>
			<ul>
				<li><a id="collapse_entire_tree" href="#">{% trans 'Collapse tree' %}</a></li>
				<li><a id="open_entire_tree" href="#">{% trans 'Expand tree' %}</a></li>
			</ul>

			<h2>{% trans 'Filter' %}</h2>
			{% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
		</div>
	{% endif %}
{% endblock %}
