{% load i18n %}
<div id="utility_lang">
    <form id = "form_change_language" action="/i18n/setlang/" method="post">{% csrf_token %}        
	    {% for language in languages %}        
	        {% if not forloop.first %}
	            {%if mod.separator %}
	                <span class = "lang_separator">
	                    {{mod.separator}}
	                </span>
	            {%endif%}
	        {% endif %}
	        {% if mod.redirect_to %}
	        <input type="hidden" name="next" value="{{mod.redirect_to}}" />
	        {% endif %}
	        <input type="image" {% if mod.current_disabled and language.code == LANGUAGE_CODE %}disabled="disabled"{% endif %} name="language" id = "lang_{{language.code}}" value="{{language.code}}" src="{{MEDIA_URL}}{{ language.flag }}" alt="{{language.name}}" />
	    {% endfor %}
    </form>
</div>