{% load i18n %}
<div id="utility_lang">
    {% for lang in languages %}        
        {% if not forloop.first %}
            {%if separator %}
                <span class = "lang_separator">
                    {{separator}}
                </span>
            {%endif%}
        {% endif %}
        <form class="upy_lan_form_string" id = "form_change_language_{{lang.code}}" action="/i18n/setlang/" method="post">{% csrf_token %}
	        <input name="language" type="hidden" value="{{lang.code}}" />
	        {% if redirect_to %}
	        <input type="hidden" name="next" value="{{redirect_to}}" />
	        {% endif %}
	        <input type="submit" {% if lang.code == LANGUAGE_CODE %}disabled="disabled"{% endif %} value="{{lang.alias}}" />
    	</form>
    {% endfor %}
</div>

